/* ------------------------- VARIABLES ------------------------- */

:root {
  --primary-text-color: #757575;
  --titles-text-color: #212121;
  --main-logo-color: #000000;
  --bg-color: #2f303a;
  --alternate-logo-color: #ffffff;
  --accent-color: #2196f3;
  --hover-modal-btn-color: #188ce8;
  --overlay-color: rgba(33, 150, 243, 0.9);
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --filter-btn-color: #f5f4fa;
  --hr-border-color: #ececec;
  --card-border-color: #eeeeee;
  --link-icons-color: #afb1b8;
  --dark-theme-icon-bgc: rgba(255, 255, 255, 0.1);
  --dark-theme-border-color: rgba(255, 255, 255, 0.3);
  --modal-placeholder-color: rgba(117, 117, 117, 0.5);
  --logo-font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  --main-font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  --timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------------------- END VARIABLES ------------------------- */

/* ------------------------- GLOBAL ------------------------- */

body {
  font-family: var(--main-font-family);
  color: var(--primary-text-color);
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color 250ms var(--timing-func);
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Visual monitoring */
/* h1,
h2,
h3,
p,
a,
button,
ul,
li,
div,
span,
form,
input,
label,
textarea {
  outline: 1px solid yellow;
  background-color: rgb(220, 220, 220);
} */

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
ul,
ol,
li {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

img,
a,
b {
  display: block;
}

/* ------------------------- END GLOBAL ------------------------- */

/* ------------------------- COMPONENTS ------------------------- */

/* ------------------------- SECTION ------------------------- */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ------------------------- END SECTION ------------------------- */

/* ------------------------- LOGO ------------------------- */

.logo {
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-logo-color);

  animation-name: logo-animation;
  animation-timing-function: cubic-bezier(0.37, 0.6, 0.66, 0.82);
  animation-duration: 1200ms;
  animation-delay: 500ms;
}

.accent-color,
.nav-list-link.accent-color {
  color: var(--accent-color);
}

.logo.alternate-logo-color {
  color: var(--alternate-logo-color);
}

/* ------------------------- END LOGO ------------------------- */

/* ------------------------- MODAL BUTTON ------------------------- */

.modal-btn {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--alternate-logo-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--timing-func);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--hover-modal-btn-color);
}

/* ------------------------- END MODAL BUTTON ------------------------- */

/* ------------------------- FILTER BUTTON ------------------------- */

.filter-list-btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titles-text-color);
  background-color: var(--filter-btn-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;

  transition: color 250ms var(--timing-func),
    background-color 250ms var(--timing-func),
    box-shadow 250ms var(--timing-func);
}

.filter-list-btn:hover,
.filter-list-btn:focus {
  background-color: var(--accent-color);
  color: var(--alternate-logo-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ------------------------- END FILTER BUTTON ------------------------- */

/* ------------------------- TITLES ------------------------- */

.title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titles-text-color);
}

/* Hidden title */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------------- END TITLES ------------------------- */

/* ------------------------- HEADER ------------------------- */

.page-header {
  border-bottom-color: var(--hr-border-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.head-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.page-header-contacts-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.logo {
  margin-right: 93px;
}

.nav-list-item:not(:last-child),
.page-header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link,
.page-header-contacts-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list-link {
  color: var(--titles-text-color);
}

.nav-list-link::after {
  position: absolute;
  content: '';
  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transform: scale(0);
  transition: transform 250ms var(--timing-func);
}

.nav-list-link.accent-color::after {
  transform: scale(1);
}

.nav-list-link:hover::after,
.nav-list-link:focus::after {
  transform: scale(1);
}

.nav-list-link:hover,
.nav-list-link:focus,
.page-header-contacts-link:hover,
.page-header-contacts-link:focus,
.page-footer-contacts-list-link:hover,
.page-footer-contacts-list-link:focus {
  color: var(--accent-color);
}

.page-header-contacts-link {
  display: flex;
  align-items: center;
}

.contacts-icon {
  margin-right: 10px;
  display: block;
  fill: currentColor;
}

/* ------------------------- END HEADER ------------------------- */

/* ------------------------- FOOTER ------------------------- */

.page-footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.contacts-column {
  margin-right: 70px;
}

.page-footer-contacts {
  margin-top: 20px;
  font-style: normal;
}

.page-footer-contacts-list-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--alternate-logo-color);
}

.page-footer-contacts-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts-color {
  color: var(--footer-contacts-color);
}

.social-list-title {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--alternate-logo-color);
}

/* footer form */

.footer-form {
  margin-left: auto;
}

.footer-subscribe {
  display: flex;
}

.footer-subscribe-email {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  margin-right: 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--bg-color);
  color: var(--alternate-logo-color);
}

.footer-subscribe-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

.footer-subscribe-btn {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--alternate-logo-color);
  background-color: var(--accent-color);
  transition: background-color 250ms var(--timing-func);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: var(--hover-modal-btn-color);
}

.subscribe-icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}

/* end footer form */

/* ------------------------- END FOOTER ------------------------- */

/* ------------------------- SOCIAL ICONS ------------------------- */

.social-list {
  display: flex;
  justify-content: center;
}

.footer-social-list {
  display: flex;
  justify-content: flex-start;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.personal-social-list {
  justify-content: center;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.light-theme-icon-bgc {
  background-color: var(--alternate-logo-color);
  transition: background-color 250ms var(--timing-func);
}

.light-theme-icon {
  fill: var(--link-icons-color);
  transition: fill 250ms var(--timing-func);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.light-theme-icon-bgc:hover .social-icon,
.light-theme-icon-bgc:focus .social-icon {
  fill: var(--alternate-logo-color);
}

.dark-theme-icon-bgc {
  background-color: var(--dark-theme-icon-bgc);
  transition: background-color 250ms var(--timing-func);
}

.dark-theme-icon {
  fill: var(--alternate-logo-color);
}

/* ------------------------- END SOCIAL ICONS ------------------------- */

/* ------------------------- END COMPONENTS ------------------------- */

/* ------------------------- HERO ------------------------- */

.hero-section {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--bg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--alternate-logo-color);
}

/* ------------------------- END HERO ------------------------- */

/* ------------------------- BENEFITS ------------------------- */

.benefits-section {
  padding-top: 94px;
  padding-bottom: 47px;
}

.benefits-list-item-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titles-text-color);
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.benefits-list-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.benefits-icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--filter-btn-color);
}

.benefits-icon {
  display: block;
  width: 70px;
  height: 70px;
}

.benefits-list-item-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ------------------------- END BENEFITS ------------------------- */

/* ------------------------- SERVICES ------------------------- */

.services-section {
  padding-top: 47px;
  padding-bottom: 94px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.services-list-item {
  position: relative;
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.servise-list-item-desctiprtion {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--alternate-logo-color);
}

/* ------------------------- END SERVICES ------------------------- */

/* ------------------------- TEAM ------------------------- */

.team {
  background-color: var(--filter-btn-color);
}

.team-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-list-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--alternate-logo-color);
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-list-item-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--titles-text-color);
}

.team-list-item-work-position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* ------------------------- END TEAM ------------------------- */

/* ------------------------- CLIENTS ------------------------- */

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-list-item {
  display: flex;
  justify-content: center;
  flex-basis: calc((100% - 180px) / 6);
  height: 92px;
  margin-left: 30px;
  margin-top: 30px;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: var(--link-icons-color);
  transition: border-color 250ms var(--timing-func);
}

.client-icon {
  display: block;
  width: 106px;
  height: 60px;
}

.clients-list-link:hover,
.clients-list-link:focus {
  border-color: var(--accent-color);
}

.clients-list-link:hover .client-icon,
.clients-list-link:focus .client-icon {
  fill: var(--accent-color);
}

/* ------------------------- END CLIENTS ------------------------- */

/* ------------------------- PORTFOLIO ------------------------- */

.filter-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-top: -8px;
}

.filter-list-item {
  margin-top: 8px;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects-list-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.projects-list-item-link {
  transition: box-shadow 250ms var(--timing-func);
}

.projects-list-item-link:hover,
.projects-list-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list-item-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay-description {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  overflow: auto;

  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: var(--overlay-color);
  color: var(--alternate-logo-color);

  transition: transform 250ms var(--timing-func);
}

.projects-list-item-link:hover .overlay-description,
.projects-list-item-link:focus .overlay-description {
  transform: translateY(0);
}

.projects-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid var(--card-border-color);
  border-right: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
}

.projects-list-item-name {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titles-text-color);
}

.projects-list-item-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* ------------------------- END PORTFOLIO ------------------------- */

/* ------------------------- MODAL WINDOW ------------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity 250ms var(--timing-func),
    visibility 250ms var(--timing-func);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  /* temporary */
  min-height: 400px;
  transform: translate(-50%, -50%) scaleY(1);
  border-radius: 4px;
  background-color: var(--alternate-logo-color);
  transition: transform 250ms var(--timing-func);
}

.is-hidden .modal-window {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close:focus .close-icon,
.modal-close:hover .close-icon {
  fill: var(--accent-color);
}

.close-icon {
  width: 10px;
  height: 10px;
  fill: var(--main-logo-color);
  transition: fill 250ms var(--timing-func);
}

/* ------------------------- MODAL FORM ------------------------- */

.callback-form {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  text-align: center;
}

.callback-form-title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--titles-text-color);
}

.callback-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  text-align: left;
}

.callback-form-input,
.callback-form-textarea {
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--titles-text-color);
}

.callback-form-input {
  height: 40px;
  padding-left: 42px;
  transition: border-color 250ms var(--timing-func);
}

/* визаулизация валидации */
/* .callback-form-input:required:focus:not(:placeholder-shown):valid {
  border-color: green;
}

.callback-form-input:required:focus:not(:placeholder-shown):invalid {
  border-color: red;
} */

.callback-form-textarea {
  margin-bottom: 20px;
  resize: none;
  min-height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  padding-right: 16px;
  transition: border-color 250ms var(--timing-func);
}

.callback-form-input:focus,
.callback-form-textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.callback-form-input:focus + .form-input-icon {
  fill: var(--accent-color);
}

.callback-form-textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--modal-placeholder-color);
}

.form-input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.form-input-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--titles-text-color);
  transition: fill 250ms var(--timing-func);
}

.callback-form-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.agreement-icon {
  margin-right: 7px;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--titles-text-color);
  cursor: pointer;
  background-size: contain;
  fill: var(--alternate-logo-color);
}

.agreement-check:not(:checked):focus + .agreement-icon {
  outline: 1px solid var(--accent-color);
  outline-offset: 2px;
}

.agreement-check:focus + .agreement-icon {
  outline: 1px solid var(--titles-text-color);
  outline-offset: 2px;
}

/* Альтернативный способ подсветки чекбокса при фокусе */
/* .callback-form-policy:focus-within {
  outline: 1px solid var(--accent-color);
} */

.agreement-check:checked + .agreement-icon {
  border: none;
  background-color: var(--accent-color);
  transform: rotate(360deg);
}

.callback-form-policy-link {
  color: var(--accent-color);
}

.callback-form-send-btn {
  align-self: center;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 55px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--alternate-logo-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--timing-func);
}

.callback-form-send-btn:hover,
.callback-form-send-btn:focus {
  background-color: var(--hover-modal-btn-color);
}

/* ------------------------- END MODAL FORM ------------------------- */

/* ------------------------- END MODAL WINDOW ------------------------- */

/* ------------------------ ANIMATION ------------------------- */

@keyframes logo-animation {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(0.85, 1.6);
  }
  55% {
    transform: scale(1, 0.6);
  }
  65% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 0.8);
  }
  85% {
    transform: scale(1, 1.1);
  }
  95% {
    transform: scale(1, 0.9);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* ------------------------ END ANIMATION ------------------------- */
