.social-list {
  display: flex;
  justify-content: center;
}

.footer-social-list {
  display: flex;
  justify-content: flex-start;
}

.social-list-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.personal-social-list {
  justify-content: center;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-icon {
  width: 20px;
  height: 20px;

  .light-theme-icon-bgc:hover &,
  .light-theme-icon-bgc:focus & {
    fill: var(--alternate-logo-color);
  }
}

.light-theme-icon-bgc {
  background-color: var(--alternate-logo-color);
  transition: background-color 250ms var(--timing-func);
}

.light-theme-icon {
  fill: var(--link-icons-color);
  transition: fill 250ms var(--timing-func);
}

.dark-theme-icon-bgc {
  background-color: var(--dark-theme-icon-bgc);
  transition: background-color 250ms var(--timing-func);
}

.dark-theme-icon {
  fill: var(--alternate-logo-color);
}
